-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: fooddb
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `fooddb`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `fooddb` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `fooddb`;

--
-- Table structure for table `administrator`
--

DROP TABLE IF EXISTS `administrator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administrator` (
  `admin_id` varchar(20) NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  PRIMARY KEY (`admin_id`),
  CONSTRAINT `fk_admin_user` FOREIGN KEY (`admin_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrator`
--

LOCK TABLES `administrator` WRITE;
/*!40000 ALTER TABLE `administrator` DISABLE KEYS */;
INSERT INTO `administrator` VALUES ('USR-E8A6905E','alvin','Jr.');
/*!40000 ALTER TABLE `administrator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `table_name` varchar(50) NOT NULL,
  `action_type` enum('INSERT','UPDATE','DELETE') NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `record_id` varchar(50) DEFAULT NULL,
  `changed_by` varchar(45) NOT NULL,
  `old_data` json DEFAULT NULL,
  `new_data` json DEFAULT NULL,
  `changed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cashier`
--

DROP TABLE IF EXISTS `cashier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cashier` (
  `cashier_id` varchar(20) NOT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  PRIMARY KEY (`cashier_id`),
  CONSTRAINT `fk_cashier_user` FOREIGN KEY (`cashier_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cashier`
--

LOCK TABLES `cashier` WRITE;
/*!40000 ALTER TABLE `cashier` DISABLE KEYS */;
INSERT INTO `cashier` VALUES ('USR-99DABB36','April','Boy');
/*!40000 ALTER TABLE `cashier` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditCashierInsert` AFTER INSERT ON `cashier` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, new_data)
    VALUES ('cashier', 'INSERT', 'New cashier profile registered', NEW.cashier_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('name', CONCAT(NEW.first_name, ' ', NEW.last_name)));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ProtectCashierProfile` BEFORE UPDATE ON `cashier` FOR EACH ROW BEGIN
    DECLARE v_username_of_record VARCHAR(45);

    -- Find the username linked to this cashier_id
    SELECT username INTO v_username_of_record 
    FROM `fooddb`.`users` 
    WHERE user_id = OLD.cashier_id;

    -- If a Cashier is trying to edit a profile that isn't theirs, block it
    IF CURRENT_ROLE() LIKE '%cashier_role%' THEN
        IF v_username_of_record != SUBSTRING_INDEX(USER(), '@', 1) THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Security Alert: You are not authorized to edit another staff member\'s profile.';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditCashierUpdate` AFTER UPDATE ON `cashier` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data, new_data)
    VALUES ('cashier', 'UPDATE', 'Cashier name/details modified', OLD.cashier_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('name', CONCAT(OLD.first_name, ' ', OLD.last_name)), 
            JSON_OBJECT('name', CONCAT(NEW.first_name, ' ', NEW.last_name)));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditCashierDelete` AFTER DELETE ON `cashier` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data)
    VALUES ('cashier', 'DELETE', 'Cashier profile removed from system', OLD.cashier_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('name', CONCAT(OLD.first_name, ' ', OLD.last_name)));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `customer_id` varchar(20) NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  PRIMARY KEY (`customer_id`),
  CONSTRAINT `fk_customer_user` FOREIGN KEY (`customer_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
INSERT INTO `customer` VALUES ('USR-53BC2D8B','Victor John','Mangtanggol'),('USR-6CAE3F9D','Earl','Juice'),('USR-FCDF5FDE','Venz','Orillos');
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditCustomerInsert` AFTER INSERT ON `customer` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, new_data)
    VALUES ('customer', 'INSERT', 'New customer profile registered', NEW.customer_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('name', CONCAT(NEW.first_name, ' ', NEW.last_name)));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ProtectCustomerProfile` BEFORE UPDATE ON `customer` FOR EACH ROW BEGIN
    DECLARE v_username_of_record VARCHAR(45);
    DECLARE v_session_user VARCHAR(45);

    -- 1. Get the owner of the record we are trying to change
    SELECT username INTO v_username_of_record 
    FROM `fooddb`.`users` 
    WHERE user_id = OLD.customer_id;

    -- 2. Get the current logged in user (using SESSION_USER() for better accuracy)
    SET v_session_user = SUBSTRING_INDEX(SESSION_USER(), '@', 1);

    -- 3. The Security Logic
    -- If the record owner is not the session user, check role status
    IF v_username_of_record != v_session_user THEN
        
        -- If the user is NOT an admin, they MUST be the owner to proceed
        IF NOT EXISTS (SELECT 1 FROM mysql.role_edges WHERE TO_USER = v_session_user AND FROM_USER = 'admin_role') THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'CRITICAL SECURITY ERROR: You are attempting to modify a profile you do not own.';
        END IF;
        
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditCustomerUpdate` AFTER UPDATE ON `customer` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data, new_data)
    VALUES ('customer', 'UPDATE', 'Customer name/details modified', OLD.customer_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('name', CONCAT(OLD.first_name, ' ', OLD.last_name)), 
            JSON_OBJECT('name', CONCAT(NEW.first_name, ' ', NEW.last_name)));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditCustomerDelete` AFTER DELETE ON `customer` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data)
    VALUES ('customer', 'DELETE', 'Customer profile removed from system', OLD.customer_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('name', CONCAT(OLD.first_name, ' ', OLD.last_name)));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `delivery`
--

DROP TABLE IF EXISTS `delivery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery` (
  `delivery_id` varchar(20) NOT NULL DEFAULT (concat(_utf8mb4'DLV-',upper(hex(random_bytes(4))))),
  `order_id` varchar(20) DEFAULT NULL,
  `rider_id` varchar(20) DEFAULT NULL,
  `delivery_status` enum('Delivering','Completed','Cancelled') NOT NULL DEFAULT 'Delivering',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`delivery_id`),
  KEY `fk_order_delivery_idx` (`order_id`),
  KEY `fk_rider_delivery_idx` (`rider_id`),
  CONSTRAINT `fk_order_delivery` FOREIGN KEY (`order_id`) REFERENCES `orders` (`order_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_rider_delivery` FOREIGN KEY (`rider_id`) REFERENCES `delivery_rider` (`rider_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery`
--

LOCK TABLES `delivery` WRITE;
/*!40000 ALTER TABLE `delivery` DISABLE KEYS */;
INSERT INTO `delivery` VALUES ('DLV-313E8288','ORD-35148FB8','USR-CD37D522','Completed','2026-05-10 10:08:52'),('DLV-46BD4E32','ORD-92E29AB1','USR-CD37D522','Completed','2026-05-06 15:57:36'),('DLV-8E1DFCD3','ORD-3B009CE4','USR-CD37D522','Cancelled','2026-05-11 00:08:13'),('DLV-A1632B8A','ORD-1EE50FB4','USR-8186612E','Completed','2026-05-10 10:26:52'),('DLV-DC68D377','ORD-7B3163C9','USR-8186612E','Completed','2026-05-10 10:55:45');
/*!40000 ALTER TABLE `delivery` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditDeliveryInsert` AFTER INSERT ON `delivery` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, new_data)
    VALUES ('delivery', 'INSERT', 'New delivery record initialized', NEW.delivery_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('order_id', NEW.order_id, 'status', NEW.delivery_status));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditDeliveryUpdate` AFTER UPDATE ON `delivery` FOR EACH ROW BEGIN
    DECLARE v_desc VARCHAR(255) DEFAULT 'Delivery Update';
    
    IF OLD.rider_id IS NULL AND NEW.rider_id IS NOT NULL THEN
        SET v_desc = 'Rider assigned to order';
    ELSEIF OLD.delivery_status != NEW.delivery_status THEN
        SET v_desc = CONCAT('Delivery status changed to ', NEW.delivery_status);
    END IF;

    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data, new_data)
    VALUES ('delivery', 'UPDATE', v_desc, OLD.delivery_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('rider', OLD.rider_id, 'status', OLD.delivery_status), 
            JSON_OBJECT('rider', NEW.rider_id, 'status', NEW.delivery_status));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_SyncDeliveryToOrder` AFTER UPDATE ON `delivery` FOR EACH ROW BEGIN
    -- 1. Sync 'Completed' status
    IF NEW.delivery_status = 'Completed' AND OLD.delivery_status != 'Completed' THEN
        UPDATE `orders` 
        SET status = 'Completed' 
        WHERE order_id = NEW.order_id 
        AND status != 'Completed';

    -- 2. New Condition: Sync 'Cancelled' status
    ELSEIF NEW.delivery_status = 'Cancelled' AND OLD.delivery_status != 'Cancelled' THEN
        UPDATE `orders` 
        SET status = 'Cancelled' 
        WHERE order_id = NEW.order_id 
        AND status != 'Cancelled';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditDeliveryDelete` AFTER DELETE ON `delivery` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data)
    VALUES ('delivery', 'DELETE', 'Delivery record deleted', OLD.delivery_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('order_id', OLD.order_id, 'rider_id', OLD.rider_id));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `delivery_rider`
--

DROP TABLE IF EXISTS `delivery_rider`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery_rider` (
  `rider_id` varchar(20) NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  PRIMARY KEY (`rider_id`),
  CONSTRAINT `fk_rider_user` FOREIGN KEY (`rider_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery_rider`
--

LOCK TABLES `delivery_rider` WRITE;
/*!40000 ALTER TABLE `delivery_rider` DISABLE KEYS */;
INSERT INTO `delivery_rider` VALUES ('USR-8186612E','naf','boye'),('USR-CD37D522','Dexter','Dave');
/*!40000 ALTER TABLE `delivery_rider` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditRiderInsert` AFTER INSERT ON `delivery_rider` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, new_data)
    VALUES ('delivery_rider', 'INSERT', 'New rider profile registered', NEW.rider_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('name', CONCAT(NEW.first_name, ' ', NEW.last_name)));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ProtectRiderProfile` BEFORE UPDATE ON `delivery_rider` FOR EACH ROW BEGIN
    DECLARE v_username_of_record VARCHAR(45);

    -- 1. Find the username linked to this rider_id
    SELECT username INTO v_username_of_record 
    FROM `fooddb`.`users` 
    WHERE user_id = OLD.rider_id;

    -- 2. Check if the user is a Rider
    IF CURRENT_ROLE() LIKE '%rider_role%' THEN
        -- 3. If they don't own this record, block the update
        IF v_username_of_record != SUBSTRING_INDEX(USER(), '@', 1) THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Security Alert: You cannot modify another rider\'s profile data.';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditRiderUpdate` AFTER UPDATE ON `delivery_rider` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data, new_data)
    VALUES ('delivery_rider', 'UPDATE', 'Rider name/details modified', OLD.rider_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('name', CONCAT(OLD.first_name, ' ', OLD.last_name)), 
            JSON_OBJECT('name', CONCAT(NEW.first_name, ' ', NEW.last_name)));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditRiderDelete` AFTER DELETE ON `delivery_rider` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data)
    VALUES ('delivery_rider', 'DELETE', 'Rider profile removed from system', OLD.rider_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('name', CONCAT(OLD.first_name, ' ', OLD.last_name)));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `food_menu`
--

DROP TABLE IF EXISTS `food_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food_menu` (
  `item_id` varchar(20) NOT NULL DEFAULT (concat(_utf8mb4'FOD-',upper(hex(random_bytes(4))))),
  `item_name` varchar(255) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `description` text NOT NULL,
  `status` enum('available','Unavailable') NOT NULL DEFAULT 'available',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`item_id`),
  UNIQUE KEY `item_name_UNIQUE` (`item_name`),
  CONSTRAINT `chk_menu_price_positive` CHECK ((`price` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `food_menu`
--

LOCK TABLES `food_menu` WRITE;
/*!40000 ALTER TABLE `food_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `food_menu` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditMenuInsert` AFTER INSERT ON `food_menu` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, new_data)
    VALUES ('food_menu', 'INSERT', CONCAT('New menu item added: ', NEW.item_name), NEW.item_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('price', NEW.price, 'status', NEW.status));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditMenuUpdate` AFTER UPDATE ON `food_menu` FOR EACH ROW BEGIN
    DECLARE v_desc VARCHAR(255) DEFAULT 'Menu Item Updated';
    
    IF OLD.price != NEW.price THEN 
        SET v_desc = CONCAT('Price changed for ', OLD.item_name, ' (', OLD.price, ' -> ', NEW.price, ')');
    ELSEIF OLD.status != NEW.status THEN 
        SET v_desc = CONCAT(OLD.item_name, ' status changed to ', NEW.status);
    END IF;

    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data, new_data)
    VALUES ('food_menu', 'UPDATE', v_desc, OLD.item_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('price', OLD.price, 'status', OLD.status), 
            JSON_OBJECT('price', NEW.price, 'status', NEW.status));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditMenuDelete` AFTER DELETE ON `food_menu` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data)
    VALUES ('food_menu', 'DELETE', CONCAT('Item removed: ', OLD.item_name), OLD.item_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('price', OLD.price, 'description', OLD.description));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `order_detail`
--

DROP TABLE IF EXISTS `order_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_detail` (
  `order_detail_id` varchar(20) NOT NULL DEFAULT (concat(_utf8mb4'DET-',upper(hex(random_bytes(4))))),
  `order_id` varchar(20) NOT NULL,
  `item_id` varchar(20) NOT NULL,
  `quantity` int NOT NULL,
  `subtotal` decimal(10,2) DEFAULT '0.00',
  PRIMARY KEY (`order_detail_id`),
  KEY `fk_order_detail_idx` (`order_id`),
  KEY `fk_item_detail_idx` (`item_id`),
  CONSTRAINT `fk_item_referenced` FOREIGN KEY (`item_id`) REFERENCES `food_menu` (`item_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_order_parent` FOREIGN KEY (`order_id`) REFERENCES `orders` (`order_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_quantity_positive` CHECK ((`quantity` > 0)),
  CONSTRAINT `chk_subtotal_positive` CHECK ((`subtotal` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_detail`
--

LOCK TABLES `order_detail` WRITE;
/*!40000 ALTER TABLE `order_detail` DISABLE KEYS */;
INSERT INTO `order_detail` VALUES ('DET-0091D134','ORD-92E29AB1','FOD-14DB4BD1',2,190.00),('DET-2BADE80D','ORD-83779D04','FOD-A1205866',3,750.00),('DET-2D1A40BC','ORD-3B009CE4','FOD-956219C1',2,1300.00),('DET-3827992E','ORD-7B3163C9','FOD-A1205866',1,250.00),('DET-478E7BCF','ORD-83779D04','FOD-828A0171',3,225.00),('DET-5A7C6102','ORD-1EE50FB4','FOD-A1205866',3,750.00),('DET-A74F5C11','ORD-35148FB8','FOD-828A0171',3,225.00),('DET-EE67078A','ORD-35148FB8','FOD-3EF6DC2D',2,240.00);
/*!40000 ALTER TABLE `order_detail` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_CalcSubtotalBeforeInsert` BEFORE INSERT ON `order_detail` FOR EACH ROW BEGIN
    DECLARE v_item_price DECIMAL(10,2);

    -- Fetch price from food_menu using the FOD- item_id
    SELECT price INTO v_item_price 
    FROM `fooddb`.`food_menu` 
    WHERE item_id = NEW.item_id;

    -- Calculate subtotal (Price * Quantity)
    SET NEW.subtotal = v_item_price * NEW.quantity;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_HandleOrderCalculations` BEFORE INSERT ON `order_detail` FOR EACH ROW BEGIN
    DECLARE v_item_price DECIMAL(10,2);

    -- 1. Fetch the official price from the menu
    SELECT price INTO v_item_price 
    FROM `fooddb`.`food_menu` 
    WHERE item_id = NEW.item_id;

    -- 2. Calculate the subtotal for this specific row
    SET NEW.subtotal = v_item_price * NEW.quantity;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_LockOrderDetails` BEFORE INSERT ON `order_detail` FOR EACH ROW BEGIN
    DECLARE v_status VARCHAR(50);
    
    SELECT status INTO v_status FROM `fooddb`.`orders` WHERE order_id = NEW.order_id;
    
    IF v_status IN ('Ready For Delivery', 'Completed') THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Order Lockdown: Cannot add items to an order in delivery.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ProtectOrderDetailInsert` BEFORE INSERT ON `order_detail` FOR EACH ROW BEGIN
    DECLARE v_order_owner_id VARCHAR(20);
    DECLARE v_session_user_id VARCHAR(20);

    -- 1. Find out who actually owns the order being targeted
    SELECT customer_id INTO v_order_owner_id 
    FROM `orders` 
    WHERE order_id = NEW.order_id;

    -- 2. Find the user_id of the person currently logged in
    SELECT user_id INTO v_session_user_id 
    FROM `users` 
    WHERE username = SUBSTRING_INDEX(USER(), '@', 1);

    -- 3. Security Check: 
    -- If the logged-in user is NOT the owner of the order, block the insert.
    -- (We allow it to pass if they are an Admin or Cashier, depending on your needs)
    IF v_order_owner_id != v_session_user_id THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Permission Denied: You cannot add items to an order that belongs to another customer.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_UpdateOrderTotalAfterInsert` AFTER INSERT ON `order_detail` FOR EACH ROW BEGIN
    UPDATE `fooddb`.`orders`
    SET total_price = (
        SELECT SUM(subtotal) 
        FROM `fooddb`.`order_detail` 
        WHERE order_id = NEW.order_id
    )
    WHERE order_id = NEW.order_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_SyncOrderTotal` AFTER INSERT ON `order_detail` FOR EACH ROW BEGIN
    UPDATE `fooddb`.`orders`
    SET total_price = (
        SELECT IFNULL(SUM(subtotal), 0) 
        FROM `fooddb`.`order_detail` 
        WHERE order_id = NEW.order_id
    )
    WHERE order_id = NEW.order_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_CalcSubtotalBeforeUpdate` BEFORE UPDATE ON `order_detail` FOR EACH ROW BEGIN
    DECLARE v_item_price DECIMAL(10,2);
    SELECT price INTO v_item_price FROM `fooddb`.`food_menu` WHERE item_id = NEW.item_id;
    SET NEW.subtotal = v_item_price * NEW.quantity;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_LockFinishedOrders_Update` BEFORE UPDATE ON `order_detail` FOR EACH ROW BEGIN
    DECLARE v_order_status VARCHAR(20);

    -- 1. Check the current status of the parent order
    SELECT status INTO v_order_status 
    FROM `orders` 
    WHERE order_id = OLD.order_id;

    -- 2. If the order is beyond the 'Pending' stage, block all changes
    IF v_order_status IN ('Ready For Delivery', 'Completed', 'Cancelled') THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Transaction Denied: Cannot modify items because the order is already being processed or is finished.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_UpdateOrderTotalAfterDelete` AFTER DELETE ON `order_detail` FOR EACH ROW BEGIN
    UPDATE `fooddb`.`orders`
    SET total_price = IFNULL(
        (SELECT SUM(subtotal) FROM `fooddb`.`order_detail` WHERE order_id = OLD.order_id), 
        0.00
    )
    WHERE order_id = OLD.order_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `order_id` varchar(20) NOT NULL DEFAULT (concat(_utf8mb4'ORD-',upper(hex(random_bytes(4))))),
  `customer_id` varchar(20) NOT NULL,
  `order_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('Pending','Ready For Delivery','Completed','Cancelled') NOT NULL DEFAULT 'Pending',
  `total_price` decimal(10,2) NOT NULL DEFAULT '0.00',
  `address` varchar(255) NOT NULL,
  `payment` enum('Cash','Cancelled') NOT NULL DEFAULT 'Cash',
  PRIMARY KEY (`order_id`),
  KEY `fk_customer_id_idx` (`customer_id`),
  CONSTRAINT `fk_orders_customer` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customer_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_orders_price` CHECK ((`total_price` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_PreventInactiveOrders` BEFORE INSERT ON `orders` FOR EACH ROW BEGIN
    DECLARE v_active_status TINYINT;

    -- Check the status of the user attempting to order
    SELECT is_active INTO v_active_status 
    FROM `fooddb`.`users` 
    WHERE user_id = NEW.customer_id;

    -- If the account is inactive/banned, block the insert
    IF v_active_status = 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Order Rejected: This account has been deactivated or banned by an administrator.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AutoAssignOrderCustomer` BEFORE INSERT ON `orders` FOR EACH ROW BEGIN
    DECLARE v_uid VARCHAR(20);

    -- Find the HEX ID for the person currently logged in
    SELECT user_id INTO v_uid 
    FROM `fooddb`.`users` 
    WHERE username = SUBSTRING_INDEX(SESSION_USER(), '@', 1);

    -- Automatically set the customer_id column
    SET NEW.customer_id = v_uid;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditOrderInsert` AFTER INSERT ON `orders` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (
        table_name, 
        action_type, 
        description, 
        record_id, 
        changed_by, 
        new_data
    )
    VALUES (
        'orders',
        'INSERT',
        CONCAT('New order placed for address: ', NEW.address),
        NEW.order_id,
        SUBSTRING_INDEX(USER(), '@', 1),
        JSON_OBJECT(
            'customer_id', NEW.customer_id,
            'initial_price', NEW.total_price,
            'status', NEW.status
        )
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_LockFinishedOrders` BEFORE UPDATE ON `orders` FOR EACH ROW BEGIN
    -- Logic: If the OLD status was already 'Ready For Delivery' or 'Completed'
    -- Block any changes to critical fields (address, customer_id, total_price)
    IF OLD.status IN ('Ready For Delivery', 'Completed') THEN
        
        -- Allow the status itself to change (to go from Ready -> Completed)
        -- but block everything else
        IF NEW.address != OLD.address 
           OR NEW.total_price != OLD.total_price 
           OR NEW.customer_id != OLD.customer_id THEN
           
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Order Lockdown: Cannot modify details of an order that is Ready or Completed.';
        END IF;
        
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_LockOrderAddress` BEFORE UPDATE ON `orders` FOR EACH ROW BEGIN
    -- Check if the address is actually being changed
    IF NEW.address <> OLD.address THEN
        -- If the status is NOT 'Pending', block the address change
        IF OLD.status != 'Pending' THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Address Update Denied: Cannot change delivery address once the order is being processed or delivered.';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ProtectCompletedOrders` BEFORE UPDATE ON `orders` FOR EACH ROW BEGIN
    -- Check if the OLD status (what is currently in the disk) is 'Completed'
    IF OLD.status = 'Completed' THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Physical Data Violation: Cannot modify a Completed order.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ProtectOrderModification` BEFORE UPDATE ON `orders` FOR EACH ROW BEGIN
    DECLARE v_session_customer_id VARCHAR(50);

    -- 1. Bridge the tables: Find the customer record where the linked 
    -- user record matches the current session username.
    SELECT c.customer_id INTO v_session_customer_id 
    FROM fooddb.customer c
    JOIN fooddb.users u ON u.user_id = c.customer_id 
    WHERE u.username = SUBSTRING_INDEX(USER(), '@', 1)
    LIMIT 1;

    -- 2. Security Logic
    IF CURRENT_ROLE() LIKE '%customer_role%' THEN
        -- Rejects if the ID doesn't match or if no customer record was found
        IF v_session_customer_id IS NULL OR OLD.customer_id != v_session_customer_id THEN
            SIGNAL SQLSTATE '45000' 
            SET MESSAGE_TEXT = 'Security Alert: You can only modify your own orders.';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditOrdersDetailed` AFTER UPDATE ON `orders` FOR EACH ROW BEGIN
    DECLARE v_description VARCHAR(255);
    SET v_description = 'General Update';

    -- Logic to determine the "Kind of Change"
    IF OLD.status != NEW.status THEN
        SET v_description = CONCAT('Status changed from ', OLD.status, ' to ', NEW.status);
    ELSEIF OLD.total_price != NEW.total_price THEN
        SET v_description = 'Order total updated/recalculated';
    ELSEIF OLD.payment != NEW.payment THEN
        SET v_description = 'Payment status modified';
    END IF;

    INSERT INTO audit_logs (
        table_name, 
        action_type, 
        description,
        record_id, 
        changed_by, 
        old_data, 
        new_data
    )
    VALUES (
        'orders',
        'UPDATE',
        v_description,
        OLD.order_id,
        SUBSTRING_INDEX(USER(), '@', 1),
        JSON_OBJECT('status', OLD.status, 'price', OLD.total_price),
        JSON_OBJECT('status', NEW.status, 'price', NEW.total_price)
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AutoCreateDelivery` AFTER UPDATE ON `orders` FOR EACH ROW BEGIN
    -- Only create a delivery record if one doesn't exist and status is 'Ready For Delivery'
    IF NEW.status = 'Ready For Delivery' AND OLD.status != 'Ready For Delivery' THEN
        -- Check if a delivery record already exists to prevent duplicate key errors
        IF NOT EXISTS (SELECT 1 FROM `delivery` WHERE order_id = NEW.order_id) THEN
            INSERT INTO `delivery` (order_id, delivery_status)
            VALUES (NEW.order_id, 'Delivering');
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_SyncOrderToDelivery` AFTER UPDATE ON `orders` FOR EACH ROW BEGIN
    -- 1. Create the delivery record if status moves to 'Ready For Delivery'
    IF NEW.status = 'Ready For Delivery' AND OLD.status != 'Ready For Delivery' THEN
        IF NOT EXISTS (SELECT 1 FROM `delivery` WHERE order_id = NEW.order_id) THEN
            INSERT INTO `delivery` (order_id, delivery_status)
            VALUES (NEW.order_id, 'Delivering');
        END IF;
    END IF;

    -- 2. Sync Cancellation: If Order is Cancelled, Delivery is Cancelled
    IF NEW.status = 'Cancelled' AND OLD.status != 'Cancelled' THEN
        UPDATE `delivery` 
        SET delivery_status = 'Cancelled' 
        WHERE order_id = NEW.order_id 
        AND delivery_status != 'Cancelled';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_AuditOrderDelete` AFTER DELETE ON `orders` FOR EACH ROW BEGIN
    INSERT INTO audit_logs (table_name, action_type, description, record_id, changed_by, old_data)
    VALUES ('orders', 'DELETE', 'Order permanently removed from system', OLD.order_id, SUBSTRING_INDEX(USER(), '@', 1), 
            JSON_OBJECT('customer_id', OLD.customer_id, 'total_price', OLD.total_price));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` varchar(20) NOT NULL DEFAULT (concat(_utf8mb4'USR-',upper(hex(random_bytes(4))))),
  `username` varchar(45) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone` varchar(11) NOT NULL,
  `is_active` enum('Active','Inactive') DEFAULT 'Active',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `password` char(64) NOT NULL,
  `roles` enum('Admin','Customer','Rider','Cashier') NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username_UNIQUE` (`username`),
  UNIQUE KEY `email_UNIQUE` (`email`),
  CONSTRAINT `chk_email_format` CHECK (regexp_like(`email`,_utf8mb4'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$')),
  CONSTRAINT `chk_ph_phone` CHECK (regexp_like(`phone`,_utf8mb4'^09[0-9]{9}$'))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_ProtectUsers` BEFORE UPDATE ON `users` FOR EACH ROW BEGIN
    -- Apply restriction to Customers, Riders, and Cashiers
    IF CURRENT_ROLE() LIKE '%customer_role%' 
       OR CURRENT_ROLE() LIKE '%rider_role%' 
       OR CURRENT_ROLE() LIKE '%cashier_role%' THEN
        
        -- Block the update if the username doesn't match the person logged in
        IF OLD.username != SUBSTRING_INDEX(USER(), '@', 1) THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Security Alert: Access Denied. You can only modify your own account.';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary view structure for view `vw_customer_order_tracking`
--

DROP TABLE IF EXISTS `vw_customer_order_tracking`;
/*!50001 DROP VIEW IF EXISTS `vw_customer_order_tracking`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_customer_order_tracking` AS SELECT 
 1 AS `customer_id`,
 1 AS `order_id`,
 1 AS `order_date`,
 1 AS `total_price`,
 1 AS `order_status`,
 1 AS `delivery_status`,
 1 AS `rider_name`,
 1 AS `payment`,
 1 AS `address`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_my_order_details`
--

DROP TABLE IF EXISTS `vw_my_order_details`;
/*!50001 DROP VIEW IF EXISTS `vw_my_order_details`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_my_order_details` AS SELECT 
 1 AS `order_detail_id`,
 1 AS `order_id`,
 1 AS `item_name`,
 1 AS `quantity`,
 1 AS `subtotal`,
 1 AS `order_date`,
 1 AS `order_status`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_rider_delivery_tasks`
--

DROP TABLE IF EXISTS `vw_rider_delivery_tasks`;
/*!50001 DROP VIEW IF EXISTS `vw_rider_delivery_tasks`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_rider_delivery_tasks` AS SELECT 
 1 AS `rider_id`,
 1 AS `order_id`,
 1 AS `delivery_address`,
 1 AS `customer_contact`,
 1 AS `cod_amount`,
 1 AS `delivery_status`,
 1 AS `item_name`,
 1 AS `quantity`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping events for database 'fooddb'
--

--
-- Dumping routines for database 'fooddb'
--
/*!50003 DROP PROCEDURE IF EXISTS `sp_RegisterUnifiedUser` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_RegisterUnifiedUser`(
    IN p_username VARCHAR(45),
    IN p_email VARCHAR(100),
    IN p_phone VARCHAR(11),
    IN p_password VARCHAR(255), 
    IN p_first_name VARCHAR(45),
    IN p_last_name VARCHAR(45),
    IN p_role_type ENUM('admin', 'rider', 'customer', 'cashier')
)
BEGIN
    DECLARE v_user_id VARCHAR(20);

    -- 1. Insert into the Business Table (users) with encrypted password
    INSERT INTO `fooddb`.`users` (username, email, phone, password) 
    VALUES (p_username, p_email, p_phone, SHA2(p_password, 256));

    -- Capture the generated USR-HEX ID
    SET v_user_id = (SELECT user_id FROM `fooddb`.`users` WHERE username = p_username);

    -- 2. Insert into the specific Role Table
    CASE p_role_type
        WHEN 'admin' THEN
            INSERT INTO `fooddb`.`administrator` (admin_id, first_name, last_name) VALUES (v_user_id, p_first_name, p_last_name);
            SET @target_role = 'admin_role';
        WHEN 'rider' THEN
            INSERT INTO `fooddb`.`delivery_rider` (rider_id, first_name, last_name) VALUES (v_user_id, p_first_name, p_last_name);
            SET @target_role = 'rider_role';
        WHEN 'customer' THEN
            INSERT INTO `fooddb`.`customer` (customer_id, first_name, last_name) VALUES (v_user_id, p_first_name, p_last_name);
            SET @target_role = 'customer_role';
        WHEN 'cashier' THEN
            INSERT INTO `fooddb`.`cashier` (cashier_id, first_name, last_name) VALUES (v_user_id, p_first_name, p_last_name);
            SET @target_role = 'cashier_role';
    END CASE;

    -- 3. CREATE THE AUTHENTICATION ACCOUNT (New Logic)
    -- This creates the actual login for the database
    SET @create_user_sql = CONCAT('CREATE USER ', QUOTE(p_username), '@"localhost" IDENTIFIED BY ', QUOTE(p_password));
    PREPARE stmt0 FROM @create_user_sql;
    EXECUTE stmt0;
    DEALLOCATE PREPARE stmt0;

    -- 4. Grant the Database Role
    SET @grant_sql = CONCAT('GRANT ', @target_role, ' TO ', QUOTE(p_username), '@"localhost"');
    PREPARE stmt1 FROM @grant_sql;
    EXECUTE stmt1;
    DEALLOCATE PREPARE stmt1;

    -- 5. Set Default Role
    SET @default_role_sql = CONCAT('SET DEFAULT ROLE ALL TO ', QUOTE(p_username), '@"localhost"');
    PREPARE stmt2 FROM @default_role_sql;
    EXECUTE stmt2;
    DEALLOCATE PREPARE stmt2;

    -- Refresh privileges
    FLUSH PRIVILEGES;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Current Database: `fooddb`
--

USE `fooddb`;

--
-- Final view structure for view `vw_customer_order_tracking`
--

/*!50001 DROP VIEW IF EXISTS `vw_customer_order_tracking`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_customer_order_tracking` AS select `o`.`customer_id` AS `customer_id`,`o`.`order_id` AS `order_id`,`o`.`order_date` AS `order_date`,`o`.`total_price` AS `total_price`,`o`.`status` AS `order_status`,`d`.`delivery_status` AS `delivery_status`,concat(`dr`.`first_name`,' ',`dr`.`last_name`) AS `rider_name`,`o`.`payment` AS `payment`,`o`.`address` AS `address` from (((`orders` `o` join `users` `u` on((`o`.`customer_id` = `u`.`user_id`))) left join `delivery` `d` on((`o`.`order_id` = `d`.`order_id`))) left join `delivery_rider` `dr` on((`d`.`rider_id` = `dr`.`rider_id`))) where (`u`.`username` = substring_index(user(),'@',1)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_my_order_details`
--

/*!50001 DROP VIEW IF EXISTS `vw_my_order_details`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_my_order_details` AS select `od`.`order_detail_id` AS `order_detail_id`,`od`.`order_id` AS `order_id`,`fm`.`item_name` AS `item_name`,`od`.`quantity` AS `quantity`,`od`.`subtotal` AS `subtotal`,`o`.`order_date` AS `order_date`,`o`.`status` AS `order_status` from (((`order_detail` `od` join `orders` `o` on((`od`.`order_id` = `o`.`order_id`))) join `food_menu` `fm` on((`od`.`item_id` = `fm`.`item_id`))) join `users` `u` on((`o`.`customer_id` = `u`.`user_id`))) where (`u`.`username` = substring_index(user(),'@',1)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_rider_delivery_tasks`
--

/*!50001 DROP VIEW IF EXISTS `vw_rider_delivery_tasks`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_rider_delivery_tasks` AS select `d`.`rider_id` AS `rider_id`,`d`.`order_id` AS `order_id`,`o`.`address` AS `delivery_address`,`u_cust`.`phone` AS `customer_contact`,`o`.`total_price` AS `cod_amount`,`d`.`delivery_status` AS `delivery_status`,`fm`.`item_name` AS `item_name`,`od`.`quantity` AS `quantity` from (((((`delivery` `d` join `orders` `o` on((`d`.`order_id` = `o`.`order_id`))) join `users` `u_cust` on((`o`.`customer_id` = `u_cust`.`user_id`))) join `users` `u_rider` on((`d`.`rider_id` = `u_rider`.`user_id`))) join `order_detail` `od` on((`o`.`order_id` = `od`.`order_id`))) join `food_menu` `fm` on((`od`.`item_id` = `fm`.`item_id`))) where (`u_rider`.`username` = substring_index(user(),'@',1)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-11  8:51:06
